In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xgb = pd.read_csv('../result/xgb.csv')

In [3]:
lgb = pd.read_csv('../result/lgb.csv')

In [4]:
gbdt = pd.read_csv('../result/gbdt.csv')

In [5]:
nn = pd.read_csv('../result/nn.csv')

In [6]:
nn.head()

   cust_id  pred_prob
0        1   0.005983
1        2   0.025552
2        3   0.018066
3        4   0.035206
4        5   0.067734

In [7]:
result = xgb.pred_prob*0.7 + lgb.pred_prob*0.1 + gbdt.pred_prob*0.1 + nn.pred_prob*0.1

In [8]:
pred = nn
pred.pred_prob = result

In [9]:
pred.head()

   cust_id  pred_prob
0        1   0.014872
1        2   0.036687
2        3   0.194181
3        4   0.064974
4        5   0.118509

In [10]:
pred.to_csv('../result/_ensemble.csv',index = False)