In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xgb = pd.read_csv('../result/semi_xgb.csv')

In [3]:
lgb = pd.read_csv('../result/semi_lgb.csv')

In [4]:
gbdt = pd.read_csv('../result/semi_gbdt.csv')

In [5]:
nn = pd.read_csv('../result/semi_nn.csv')

In [6]:
nn.head()

   cust_id  pred_prob
0        1   0.003583
1        2   0.069257
2        3   0.015288
3        4   0.084963
4        5   0.064052

In [7]:
result = xgb.pred_prob*0.7 + lgb.pred_prob*0.1 + gbdt.pred_prob*0.1 + nn.pred_prob*0.1

In [8]:
pred = nn
pred.pred_prob = result

In [9]:
pred.head()

   cust_id  pred_prob
0        1   0.016251
1        2   0.031600
2        3   0.076029
3        4   0.058965
4        5   0.055669

In [10]:
pred.to_csv('../result/semi_ensemble.csv',index = False)